<!DOCTYPE html>
<html>
    <head>
        <title>Эволюция питания кошки</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="author" content="Шурмин Павел">
        <meta name="description" content="Эволюция питания кошки">
        <meta name="keywords" content="новости, интересные статьи, вискас, whiskas, Эволюция питания кошки">
        <link rel="stylesheet" href="../styles/news.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link rel="shortcut icon" href="../pictures/logo.png" type="text/x-icon">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body class="grid-container">
        <nav id="nav" :class="navClass.mainNav"> 
            <div>
                <img class="logo" src="../pictures/logo.png">
                <a class="navbar-brand p-0" href="../index.html" style="color: #fdebf2"><h1>Whiskas</h1></a>
            </div>
            <button type="button" class="navbar-toggler hidden-lg-up" data-toggle="collapse" data-target="#dropDownMenu" aria-expanded="false">
                &#9776;
            </button>
            <div :class="navClass.menu" id="dropDownMenu">
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto" v-for="item in url" :key="item.id"> 
                        <li-item :href="item.href" :todo="item"></li-item>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="main" class="container news">
            <div class="row">
                <div class="author_date col-md-8 d-flex">
                    <p>{{ news[2].name }}</p>
                    <p>{{ news[2].date }}</p>
                </div>
                <div class="col-12"><h3 class="news_header">{{ news[2].title }}</h3></div>
                <div class="description col-12">
                    <img class="news_img" :src="news[2].src[0]">
                    <h3><span>Мышь и организм кошек</span></h3>
                    <p>
                        В отличие от собак, которые за время соседства с человеком потеряли общие черты со своим предком — 
                        волком, кошки и сегодня остаются независимыми и ловкими хищниками.
                    </p>
                    <p>
                        Организм кошек полностью соответствует их плотоядной природе. У кошек 30 зубов, предназначенных для разрывания добычи, 
                        а челюсть движется только вверх и вниз, поэтому они не могут пережевывать пищу, как травоядные животные. 
                        Мускулатура передних конечностей развита лучше — это позволяет кошкам совершать прыжок, чтобы поймать добычу.
                    </p>
                    <p>
                        Растяжимость желудка ограниченная, что обуславливает многократный прием пищи небольшими порциями. Уровень кислотности 
                        желудочного сока выше, чем у человека. Это способствует перевариванию костей и уничтожению большинства 
                        патогенных бактерий. Активность фермента амилазы, вырабатываемого поджелудочной железой для переваривания растительной 
                        пищи, у кошек примерно в три раза ниже, чем у собак. Это объясняет, почему пищу растительного происхождения они усваивают хуже.
                        Естественная добыча — мышь — повлияла и на пищевые потребности кошки. В мыши содержится множество питательных веществ, 
                        играющих важную роль в поддержании организма хищника.
                    </p>
                    <p>
                        Повторить в домашних условиях с помощью обычных продуктов питания такой сбалансированный рацион практически невозможно. 
                        Помочь могут промышленные корма, воссоздающие тот комплекс полезных веществ, которые получала кошка в естественной среде 
                        обитания и который необходим ей сегодня.
                    </p>

                    <h3><span>Мясо и субпродукты</span></h3>
                    <p>
                        Поймав добычу в дикой природе, кошка съедала ее целиком, со всеми внутренними органами — сердцем, печенью, почками и желудком. 
                        Эти части животного обогащали организм кошки витаминами и минеральными веществами, которых недостаточно в обычном мясе. 
                        В печени содержится больше витамина A и аминокислот, в почках — витаминов группы B, в сердце — незаменимая аминокислота таурин.
                    </p>
                    <p>
                        В готовые корма также добавляют субпродукты — это позволяет сделать их более питательными и сбалансированными.
                        Сегодня многие владельцы, зная о пользе субпродуктов для кошки, дают своим питомцам куриные сердечки и куриную 
                        печень. Стоит учитывать, что они больше мышиных, а значит нужно контролировать их количество в рационе, 
                        чтобы избежать гипервитаминоза. Так, ежедневное поедание печени кошкой может привести к развитию гипервитаминоза 
                        А — необратимому и тяжелому заболеванию, лечения для которого нет.
                    </p>

                    <h3><span>Злаки как источник энергии</span></h3>
                    <p>
                        Кошки съедали и то, что находились в небольшом мышином желудке, — зерна и растительную пищу. Таким образом они получали 
                        небольшое количество ферментированной клетчатки и углеводов, которые служили для них дополнительным источником 
                        энергии. Кроме того, клетчатка способствует улучшению пищеварения и перистальтики кишечника хищника. В состав готовых 
                        кормов также включены злаки и овощи — небольшое содержание этих ингредиентов будет полезным для кошки.
                    </p>

                    <h3><span>Кости как источник кальция</span></h3>
                    <p>
                        Кости мыши служили прекрасным источником кальция для хищника. Они тоньше и мягче рыбьих или куриных костей, 
                        поэтому полностью переваривались в желудке кошки, не повреждая его и кишечник. Кости других более крупных 
                        животных для кошки опасны. Особенно это касается трубчатых костей, которые они не разгрызают полностью. Такие 
                        кости могут поранить стенки органов пищеварения, вызвать кишечную непроходимость или застрять в горле питомца.
                        В домашнем питании в качестве альтернативы костям часто используют кисломолочные продукты. Однако стоит помнить, 
                        что они плохо усваиваются взрослыми кошками, да и любовь кошек к сметане сильно преувеличена.
                        В теле мыши соотношение кальция и фосфора можно назвать идеальным для кошки. Такой баланс минеральных веществ 
                        обеспечивают готовые корма, где их соотношение определяется с учетом потребностей питомцев.
                    </p>

                    <h3><span>Красота и здоровье шерсти</span></h3>
                    <p>
                        Шкурки мелких грызунов помогали кошке поддерживать собственную шерсть в хорошем состоянии. 
                        В них содержатся полезные микроэлементы и такие аминокислоты, как цистеин и метионин. Именно они участвуют в синтезе 
                        рогового вещества — кератина, влияющего на эластичность кожи и гладкость шерсти животного.
                        В большом количестве эти аминокислоты содержатся в рыбе, пшеничном и кукурузном глютене − все они входят в 
                        состав готовых кормов. В комплексе с другими компонентами, такими как Омега-6 жирные кислоты, они обеспечивают 
                        полноценный уход за шерстью питомца.
                    </p>
                </div>
                <div class="col-12">
                    <form method="GET">
                        <p><b>Оставьте комментарий</b></p>
                        <div>
                            <label for="name">Имя:
                                <input id="name" v-model="name" name="name" class="form-control" type="text" placeholder="Введите имя" tabindex="1" required>
                            </label>
                        </div>
                        <div>
                            <label for="comment">Текст комментария:
                                <textarea id="comment" v-model="comment" name="comment" class="form-control" cols="50" rows="3" wrap="hard" tabindex="2" required></textarea>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-outline-success" @click.prevent="addNewComment">Отправить</button>
                        <button type="reset" class="btn btn-outline-success">Очистить</button>
                    </form>
                    <comment v-for="text in comments" :key="text.id" :word="text"></comment>
                </div>
            </div>
        </div>

        <div class="row footer m-0">
            <div :class="footerStyle.footer">
                <p v-for="link in inf[0]">{{ link }}</p>
            </div>
            <div :class="footerStyle.footer">
                <p v-for="link in inf[1]">{{ link }}</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../scripts/news.js"></script>
    </body>
</html>