<!DOCTYPE html>
<html>

<head>
    <title>Xbox Live: на прошлой неделе Crackdown 3 была популярнее Metro: Exodus и Far Cry New Dawn</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="author" content="Шурмин Павел">
    <meta name="description"
        content="Xbox Live: на прошлой неделе Crackdown 3 была популярнее Metro: Exodus и Far Cry New Dawn">
    <meta name="keywords"
        content="новости, интересные статьи, NGame, Xbox Live: на прошлой неделе Crackdown 3 была популярнее Metro: Exodus и Far Cry New Dawn">
    <link rel="stylesheet" href="../styles/news.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link rel="shortcut icon" href="../pictures/Logo.png" type="text/x-icon">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body class="grid-container">
    <nav id="nav" :class="navClass.mainNav">
        <div>
            <img class="logo" src="../pictures/logo.png">
            <a class="navbar-brand p-0" href="../index.html" style="color: #2ca06a">
                <h1>NGame</h1>
            </a>
        </div>
        <button type="button" class="navbar-toggler hidden-lg-up" data-toggle="collapse" data-target="#dropDownMenu"
            aria-expanded="false">
            &#9776;
        </button>
        <div :class="navClass.menu" id="dropDownMenu">
            <ul class="navbar-nav">
                <li class="nav-item mx-auto" v-for="item in url" :key="item.id">
                    <li-item :href="item.href" :todo="item"></li-item>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main" class="container news">
        <div class="row">
            <div class="author_date col-md-8 d-flex">
                <p>{{ news[2].name }}</p>
                <p>{{ news[2].date }}</p>
            </div>
            <div class="col-12">
                <h3 class="news_header">{{ news[2].title }}</h3>
            </div>
            <div class="description col-12">
                <img class="news_img" :src="news[2].src[0]">
                <img src="../pictures\news3.jpg" >
                <p>
                    Портал True Achievements опубликовал еженедельные чарты самых популярных игр в сервисе Xbox Live.
                </p>
                <p>
                    Как оказалось, средикрупных релизов 15 февраля самым популярным в сервисе Microsoft стала Crackdown
                    3 (#3), доступ к
                    которой можно получить благодаря подписке Xbox Game Pass. Она оказалась на третьем месте общего
                    чарта, уступив лидерство лишь Apex Legends (#1) и Fortnite (#2).
                </p>
                <p>
                    Примечательно, что вроде бы более популярные релизы в лице Metro: Exodus (#32) и Far Cry New Dawn
                    (#37) должны были оказаться хотя бы в десятке, однако они практически замыкают список из 40
                    проектов, уступая даже Anthem (#18) — доступ к 10-часовому триалу можно было получить через EA
                    Access.
                </p>
                <h4>40 самых популярных игр в Xbox Live с 11 по 17 февраля</h4>
                <ol>
                    <li>Apex Legends</li>   
                    <li>Fortnite</li>
                    <li>Crackdown 3 (кампания)</li>
                    <li>Call of Duty: Black Ops 4</li>
                    <li>Red Dead Redemption 2</li>
                    <li>FIFA 19</li>
                    <li>Forza Horizon 4</li>
                    <li>Rainbow Six Siege</li>
                    <li>Grand Theft Auto V</li>
                    <li>Destiny 2</li>
                    <li>Rocket League</li>
                    <li>Minecraft</li>
                    <li>Battlefield V</li>
                    <li>PUBG</li>
                    <li>Overwatch</li>
                    <li>Super Bomberman R</li>
                    <li>Shadow of the Tomb Raider</li>
                    <li>Anthem</li>
                    <li>NBA 2K19</li>
                    <li>Roblox</li>
                    <li>Kingdom Hearts III</li>
                    <li>Crackdown 3: Wrecking Zone (мультиплеер)</li>
                    <li>Resident Evil 2</li>
                    <li>Assassin's Creed Odyssey</li>
                    <li>Sea of Thieves</li>
                    <li>Halo: The Master Chief Collection</li>
                    <li>Smite</li>
                    <li>Gears of War 4</li>
                    <li>Black Desert (бета)</li>
                    <li>Madden NFL 19</li>
                    <li>ARK: Survival Evolved</li>
                    <li>Metro: Exodus</li>
                    <li>Titanfall 2</li>
                    <li>Minecraft</li>
                    <li>Warframe</li>
                    <li>Halo 5: Guardians</li>
                    <li>Far Cry New Dawn</li>
                    <li>Monster Hunter: World</li>
                    <li>The Division 2</li>
                    <li>Mortal Kombat X</li>
                </ol>
            </div>
            <div class="col-12">
                <form method="GET">
                    <p><b>Оставьте комментарий</b></p>
                    <div>
                        <label for="name">Имя:
                            <input id="name" v-model="name" name="name" class="form-control" type="text"
                                placeholder="Введите имя" tabindex="1" required>
                        </label>
                    </div>
                    <div>
                        <label for="comment">Текст комментария:
                            <textarea id="comment" v-model="comment" name="comment" class="form-control" cols="50"
                                rows="3" wrap="hard" tabindex="2" required></textarea>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-outline-success"
                        @click.prevent="addNewComment">Отправить</button>
                    <button type="reset" class="btn btn-outline-success">Очистить</button>
                </form>
                <comment v-for="text in comments" :key="text.id" :word="text"></comment>
            </div>
        </div>
    </div>

    <div class="row footer m-0">
        <div :class="footerStyle.footer">
            <p v-for="link in inf[0]">{{ link }}</p>
        </div>
        <div :class="footerStyle.footer">
            <p v-for="link in inf[1]">{{ link }}</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../scripts/news.js"></script>
</body>

</html>