@import url(news-desktop.css) (min-width:991px);
@import url(news-tablet.css) (min-width:769px) and (max-width:990px);
@import url(news-mobile.css) (max-width:768px);

.nav-item a{
    padding:0.6vw;
}
.author_date p{
    margin: 0 20px 0 0;
}
.description p{
    margin-bottom: 10px;
    color:rgb(53, 53, 53);
}
.news_header{
    margin: 5px 0 10px 0;
    text-align: center;
    font-weight: 700;
}
.news_header a{
    color:#370b48;
}
.news_img{
    width:100%;
}
.container{
    margin-bottom:1.8vw;
}
.author_date{
    margin: 10px 0 0 0;
}
.search{
    margin-left:4vw;
}