@import url(style.css);

nav{
    height: 3.7vw;
    background-image: linear-gradient(0,#1c0bb3,#1c0bb4,#1c0bb6);
}
.nav-link{
    font-size: 1.6vw;
    color: #bed1c9;
}
.nav-link:hover{
    background-image: linear-gradient(0,#1c0bb3,#1c0bb4,#1c0bb6);
    color:#bed1c3;
}
.navbar-brand h1{
    font-size:3vw;
    font-weight: 600;
    margin:-0.1vw 2px 0 0;
}
.nav-item{
    border-left: 1px solid #137740;
    letter-spacing: 2px;
}
.nav-item a{
    padding:0.6vw;
}
.logo{
    height: 3.5vw;
    width:5vw;
}
.active a{
    color:#4a9672;
}
.footer p{
    font-size:1.2vw;
}