body{
    background-image: linear-gradient(#87e670,#9af7a6);
}
span{
    font-weight: bold;
}
nav{
    z-index: 1;
    top:0;
}
.logo{
    float:left;
}
#dropDownMenu{
    left:0;
}
.footer{
    background-color: #80f3a3;
    text-align: center;
    color:#69f1db;
}
.footer p{
    margin:3px;
}