body{
    background-image: linear-gradient(#00000098,#00000098);
}
span{
    font-weight: bold;
}
nav{
    z-index: 1;
    top:0;
}
.logo{
    float:left;
}
#dropDownMenu{
    left:0;
}
.footer{
    background-color: #000000;
    text-align: center;
    color:#3ac236;
}
.footer p{
    margin:3px;
}