@import url(style.css);

nav{
    height: 3.7vw;
    background-image: linear-gradient(0,#ffffff,#0c0c0e77,#0c0c0e77);
}
.nav-link{
    font-size: 1.6vw;
    color: #00000000;
}
.nav-link:hover{
    background-image: linear-gradient(0,#ffffff,#000000,#000000);
    color:#00000000;
}
.navbar-brand h1{
    font-size:3vw;
    font-weight: 600;
    margin:-0.1vw 2px 0 0;
}
.nav-item{
    border-left: 1px solid #0c0c0e77;
    letter-spacing: 2px;
}
.nav-item a{
    padding:0.6vw;
}
.logo{
    height: 3.5vw;
    width:5vw;
}
.active a{
    color:#00000077;
}
.footer p{
    font-size:1.2vw;
}